[submodule "BackdoorBox"]
	path = BackdoorBox
	url = https://github.com/THUYimingLi/BackdoorBox.git
[submodule "unlearning_frameworks/certified_deep_unlearning"]
	path = unlearning_frameworks/certified_deep_unlearning
	url = https://github.com/zhangbinchi/certified-deep-unlearning.git
[submodule "unlearning_frameworks/selective_synaptic_dampening"]
	path = unlearning_frameworks/selective_synaptic_dampening
	url = https://github.com/if-loops/selective-synaptic-dampening.git
