dataset_params:
  dataset_name: CIFAR10
  forget_sets:
    - 0
    - 1
    - 2
    - 3
    - 4
    - 5
    - 6
    - 7
    - 8
    - 9
  forget_set_size: null
distinguisher_params:
  mia:
    mia_type: logreg
  kld: 
    perturbation_type: gaussian
  mse: null
unlearning_methods:
  ssd:
    dampening_constant: 1
    selection_weighting: 100
  bad_teacher: null
  amnesiac: null
batch_size: 512
train_params:
  num_epochs: 50
  learning_rate: 1.e-2
  num_workers: 0
  pretrained: False
  use_param_norm: False
runs_per_forget_set: 32
