dataset_params:
  dataset_name: CIFAR10
  forget_sets:
    - 'random'
    - 'random'
    - 'random'
    - 'random'
    - 'random'
    - 'random'
    - 'random'
    - 'random'
    - 'random'
  forget_set_size: 
    - 3
    - 6
    - 30
    - 60
    - 300
    - 600
    - 3000
    - 6000
    - 15000
distinguisher_params:
  mia:
    mia_type: logreg
  kld: 
    perturbation_type: gaussian
  mse: null
  consistency:
    perturbation_type: gaussian
  randomness:
    perturbation_type: gaussian
unlearning_methods:
  ssd:
    dampening_constant: 1
    selection_weighting: 100
  bad_teacher: null
  amnesiac: null
batch_size: 512
train_params:
  num_epochs: 50
  learning_rate: 1.e-2
  num_workers: 0
  pretrained: False
  use_param_norm: False
runs_per_forget_set: 64
